style 
{
font-family: 'Times New Roman', Times, serif;
}

.bodyinj, .bodyindex, .bodywow
{    
    background-color: white);
    color: black;
}




h1 
{
color: black;
background-color: rgb(14, 37, 98);
text-align: center;
font-weight: bolder;
font-size: 60px;
color: whitesmoke;
}

#description
{    
    color: black;
    font-size: 20px;
}

.unity
{    
font-size: 20px;
}


a{
    text-decoration:none;
    color: black;
    

    }
.fig 
{    
    text-decoration: rgb(129, 6, 6);
    font-style: italic;
    font-size: 17px;
}

.description0
{    
    font-size: 20px;
}
.button1, .button2
{ 
font-weight: bold;
color: rgb(83, 131, 177);
background-color: rgb(47, 94, 221);
font-size: 20px;
}

.description
{    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(28, 28, 180);

}


.imgwow1, .imgwow2, .imginj1 .imginj2, .imginj3, .imginj4 
{    
    width: 500px;
    height: auto;
}

.imginj1, .imginj3
{    
    margin-left: 20px;
}

.imginj2, .imginj4
{    
    margin-left: 560px;
}

.imginj11
{    
    width: 550px;
}



.description1, .description2, .description4, .description5, .wow1
{    
    font-size: 20px;
}

.description3
{    
    font-style: italic;
    font-size: 20px;
    margin-left: 50px;
    
}


.button1, .button2
{    
    border: 1px whitesmoke;
    margin: 15px;
    border: black;
    border-style: initial;
    padding-left: 5px;
}


