h1 
{
color: black;
background-color: rgb(14, 37, 98);
text-align: center;
font-weight: bolder;
font-size: 60px;
color: whitesmoke;
}

#description
{    
    color: black;
    font-size: 20px;
}

.unity
{    
font-size: 20px;
}


.fig 
{    
    text-decoration: rgb(129, 6, 6);
    font-style: italic;
    font-size: 17px;
}

.description0
{    
    font-size: 20px;
}
.button1, .button2
{ 
font-weight: bold;
color: black;
background-color: rgb(16, 177, 163);
font-size: 20px;
}

.description
{    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(28, 28, 180);

}


.imgwow1, .imgwow2, .imginj1, .imginj2, .imginj3, .imginj4 
{    
    width: 500px;
    height: auto;
}

.description1, .description2, .description4, .description5, .wow1
{    
    font-size: 20px;
}

.description3
{    
    font-weight: bold;
    
}

